---js
const eleventyNavigation = {
	key: "Blog",
	order: 2
};
---
<h2>Blog</h2>

<ul class="tags">
{% for tag in collections | getKeys | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
	</li>
{% endfor %}
</ul>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
