---js
const numberOfLatestPostsToShow = 10;
---
<h5>
<script>
currentTime=new Date();
//getHour() function will retrieve the hour from current time
if(currentTime.getHours()<13)
document.write("Good morning! I hope you're having a great ");
else if(currentTime.getHours()<17)
document.write("Good afternoon! I hope you're having a great ");
else if(currentTime.getHours()<20)
document.write("Good evening! I hope you're having a great ");
else if(currentTime.getHours()<6)
document.write("Good night! I hope you had a great ");
else 
document.write("Good night! I hope you had a great ");
var weekday = new Array(7)
weekday[0] = " Sunday"
weekday[1] = " Monday"
weekday[2] = " Tuesday"
weekday[3] = " Wednesday"
weekday[4] = " Thursday"
weekday[5] = " Friday"
weekday[6] = " Saturday"
var currentDate = new Date()
weekdayValue = currentDate.getDay()
document.write(
weekday[weekdayValue] + "."
)
</script></h5>
<p>I am a husband to Mar, a father to Lucas and Nico, and Pancho's human.</p>
<p>I'm a data specialist with 7+ years of experience in making data-driven decisions that drive businesses forward.</p>
<p>Read more <a href="/about/">about me</a>, take a look at my <a href="/work/">work and background</a>, or <a href="/contact/">get in touch</a>.<p>

<h5>CONTACT</h5>
<a href="mailto:rodrigoturner.carlos@gmail.com">Send me an email <span class="arrow">-></span></a>

<h5>SITEMAP</h5>

{%- for page in collections.page -%}
<a href="{{page.url}}">{{ page.data.title }}</a>&nbsp;﹡&nbsp;
{%- endfor -%}



<h5>Notes</h5>

{%- for note in collections.note -%}
<p><a href="{{note.url}}">{{ note.data.title }}</a> › {{ note.data.excerpt | safe }}</p>
<hr/>
{%- endfor -%}