---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "{{ tag }}",
	permalink: function(data) {
		return `/tag/${this.slugify(data.tag)}/`;
	}
};
---

<h2>{{ tag }} </h2>

{% set postslist = collections[ tag ] %}
<ul>
	{%- for post in postslist | reverse %}
<li class="{% if post.url == url %} postlist-item-active{% endif %}">
<a href="{{ post.url }}" class="title">{{ post.data.title }}</a>
</li>
{%- endfor %}
</ul>