---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "{{ tag }}",
	permalink: function(data) {
		return `/tag/${this.slugify(data.tag)}/`;
	}
};
---

<h2>{{ tag }} </h2>

{% set postslist = collections[ tag ] %}
<ul>
	{%- for post in postslist | reverse %}
<li class="postlist-item {{post.data.category}}" data-filter="{{post.data.category}}">
<a href="{{ post.url }}"> <span class="post-info">
<h4>{{ post.data.title }}</h4>
<p class="excerpt">{{post.data.excerpt}}</p></span>
<span class="arrow">-></a>
</a>
{%- endfor %}
</ul>