---js
// <script>
const pagination = {
	data: "collections",
	size: 1,
	alias: "tag",
	filter: ["all"],
	// addAllPagesToCollections: true,
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "{{ tag }}",
	permalink: function(data) {
		return `/tag/${this.slugify(data.tag)}/`;
	}
};
---

<h2>{{ tag }} </h2>


<div id="filters" class="button-group filters-button-group">  
<button class="button is-checked" data-filter="*">All</button>
{% for tag in collections | getKeys | filterTagList %}
{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
<button class="button" data-filter=".{{tag}}">{{ tag }}</button>
{% endfor %}
</div>

<div class="posts">
{% set postslist = collections[ tag ] %}
{%- for post in postslist | reverse %}
<a href="{{ post.url }}" class="postlist-item">
<span class="post-info">
<h4>{{ post.data.title }}</h4>
<p class="excerpt">{{post.data.excerpt}}</p>
</span>
<span class="arrow">-></span>
</a>
{%- endfor %}
</div>