

@font-face {
	font-family: 'Darby Sans Web';
	src: url('DarbySans-Light-Web.woff2') format('woff2'),
		 url('DarbySans-Light-Web.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	}

.DarbySans-Light-Web {
	font-family: 'Darby Sans Web';
	font-weight: 300;
	font-style: normal;
	}
