<footer>
    <ul>   
        <li><a href="/" class="home-link">Inicio</a></li>
        <li><a href="/informacion/" class="info-link">Información</a></li>
        <li><a href="/proyectos/" class="proyectos-link">Proyectos</a></li>
        <li><a href="/contacto/" class="contacto-link">Contacto</a></li>
        <li><a href="/suscripcion/" class="suscripcion-link">Suscripción</a></li>
        <li><a href="mailto:rodrigoturner.carlos@gmail.com"><i class="far fa-envelope"></i></a></li>
        <li><a href="https://twitter.com/crodrigoturner"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/crodrigoturner"><i class="fab fa-instagram"></i></a></li>
    </ul>

   <p>Gracias por tu visita y <script type="text/javascript">
    var dayNames = new Array("domingo","lunes","martes","mi&eacute;rcoles","jueves","viernes!","s&aacute;bado");
 var now = new Date();
document.write("feliz " + dayNames[now.getDay()]);
</script>.</p> 


</footer>
<script src="/js/particle.js"></script> 
</body>
