<div id="particles-js"></div> 
<header> 
<h1><a href="/"><span>El blog de</span>Carlos Rodrigo</a></h1>	



  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><div class="cmn-t-pulse fe circle"><div class="cmn-t-pulse fi circle">&nbsp;</div></div></label>

<ul class="menu">   
<li><a href="/" class="home-link">Inicio</a></li>
<li><a href="/informacion/" class="info-link">Información</a></li>
<li><a href="/proyectos/" class="proyectos-link">Proyectos</a></li>
<li><a href="/contacto/" class="contacto-link">Contacto</a></li>
<li><a href="/suscripcion/" class="suscripcion-link">Suscripción</a></li>
</ul>
<!--
<div id="table-of-contents">
    {% toc %}
  </div>

<ul class="list-of-posts">
  {% for post in site.posts %}
<li><a href="#{{post.title}}">{{post.title}}</a></li>
{% endfor %}
</ul>-->

</header>
