
<article>
<span class="separator"></span>
<h2>El Podcast de Carlos Rodrigo</h2>
<p>He comenzado un experimento para aprender a grabar y distribuir podcasts con las herramientas gratuitas al alcance de todo el mundo. El primer episodio trata sobre la Teoría de las Grandes Personas de la Historia.</p>
<br/>
<iframe src="https://anchor.fm/podcast-carlos-rodrigo/embed/episodes/Episodio-01---La-teora-de-los-Grandes-Hombres-ed4693"  width="100%"  scrolling="no"></iframe>
<br/>
<p>Puedes suscribirte en <a href="https://open.spotify.com/show/72EnMAeLkXiWPhgx3Mbpmr">Spotify</a>, <a href="https://play.pocketcasts.com/discover/podcast/da977fa0-677e-0138-a0e3-0acc26574db2">Pocketcasts</a>, <a href="https://podcasts.apple.com/es/podcast/el-podcast-de-carlos-rodrigo/id1509680015">Apple Podcasts</a>, <a href="https://anchor.fm/podcast-carlos-rodrigo">Anchor</a> o <a href="https://www.breaker.audio/el-podcast-de-carlos-rodrigo/e/61873990">Breaker</a>.</p>
</article>