<ul class="col-2 posts">
{%- for post in postslist | reverse %}
<li class="postlist-item   {% for tag in tags %}
    {% if tag != "posts" %}

        {{ tag }}

    {% endif %}
  {% endfor %}">
<a href="{{ post.url }}"> 
<h5>{{ post.data.title }}</h5>
<p class="excerpt">{{post.data.excerpt}}</p>
<p class="meta"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
</a>
</li>
{%- endfor %}
</ul>