<a href="{{ post.url }}" class="postlist-item {{post.data.category}}" data-filter="{{post.data.category}}">
<span class="post-info">
<h4>{{ post.data.title }}</h4>
<p class="excerpt">{{post.data.excerpt}}</p>
</span>
<span class="arrow">-></span>
</a>