:root {
	--black: #0d181d;
	--blue: #0068a5;
	--yellow: #ffb511;
	--white: #fff;
	--orange: #ff7477;
}

html {
	text-rendering: optimizeLegibility;
	height: 101%;
	margin: 0px !important;
}

body {
	font: 400 16px/1.8 "Regular", sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: var(--black);
	word-wrap: break-word;
	margin: 0;
	position: relative;

	padding: 0;
	min-height: 100%;

}

header {
	float: left;
	padding: 0px 0;
	z-index: 9999;
	text-align: center;
	width: 100%;
	margin: 0;


}

nav {
float: left;
    margin: 20px 0;
    font: 400 1em / 1 "Regular", sans-serif;
    z-index: 9999;
    width: 100%;


}

nav ul {
	list-style-type: none;
	padding: 0;
	float: left;
}

nav ul li {
	float: left;
	margin: 0 40px 0 0;
	width: auto;
}

nav a {
	text-decoration: none;
	border: none;
	padding: 0px;
	float: left;
}

nav a:hover,
.active {
	text-decoration: none;
	opacity: 0.6;
}


.home nav{display:none;}


 main {
	width: 100%;
	margin: 0;
	min-height:100vh;
	float:left;
	padding: 0;
  margin: 0 0 -270px;
}




.posts a:hover {
	opacity: 1;
	border: none;
	box-shadow: none;
	background: none;
}

.posts {
	float: left;
    min-height: 100vh;
}

.posts a {
	width: 100%;
	margin: 0 0 10px 0;
	float: left;
	border: none;
}



.clear {
	width: 100%;
	clear: both;
	float: none;
	display: block;
	height: 0;
}

.right {
	float: right;
}

.left {
	float: left;
}


hr {
	float: left;
	background: #ffe0b28a;
	margin: 20px 0;
	height: 2px;
	width: 100%;
	border: none;
}



p {
	float: left;
	width: 100%;
	margin: 0;
}

.arrow {
	font: 400 1em/2 "Inter", sans-serif !important;
}

a:hover .arrow {
	position: relative;
	left: 5px;
}



.hidden {
	visibility: hidden;
}

h1 {
    font: 700 2em / 1.3 "Bold", sans-serif;
    text-align: left;
    float: left;
      width: calc(35% - 40px);
    margin: 5px 20px;
}

h2 {
	font: 700 2em/1.4 "Bold", sans-serif;
	text-align: left;
	float: left;
	width: 100%;
	margin: 0 0 20px;
}


h3 {
	font: 700 1.3em/1 "Bold", sans-serif;
	margin: 20px 0;
	float: left;
	width: 100%;
}

h4 {
	font: 400 .8em/1.4 "Regular", sans-serif;
	margin: 0px;
	float: left;
	width: 100%;
	opacity:.8; text-transform:uppercase;
}

h5 {
    font: 400 .9em / 1 "Regular", sans-serif;
    margin: 0px 0px;
    height: calc(100% - 0px);
    padding: 10px;
	float:left;
}


blockquote {
	font-style: italic;
	padding: 0 0px 0 20px;
	border-right: 1px solid #eee;
}

.meta,
.postlist-date {
	margin: 20px 0;
	float: left;
	padding: 0;
	color: var(--black);
	opacity: 0.9;
	font-style: italic;
	font: 400 0.9em/1.5 "Regular", sans-serif;
}

a {
	color: var(--black);
	text-decoration: none;
	border-bottom: 1px solid #01314850;
}

a:hover {
	opacity: 0.7;
	border: none;
	box-shadow: none;
	background: none;
}

h1 a {
	text-decoration: none;
	float: left;
	color: var(--black);
	border: none;
}

h1 a:hover {
	opacity: 0.7;
}

h4 a {
	color: var(--black);
	text-decoration: none;
	border: none;
}

.stock .post-meta::before,
.flow .post-meta::before {
	content: "";
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid #b0bec5;
	margin: 9px 5px 0 0;
}

.flow .post-meta::before {
	background: #b0bec5;
}

article {
	color: var(--black);
	padding: 20px 35%;

	float: left;
background:#FFF;
	width: 30%;
	 position:relative;
}



article.intro {background:#1e609180;}
article.topics {background:#99d98c80;}
article.contact {background:#34a0a480;}
article.pages {background:#E8F5E9;}
article{background:#d9ed9280;}
article.intro h5{color:#1e6091;color:#FFF;}
article.topics h5{color:#99d98c;}
article.contact h5{color:#34a0a4;}
article.pages h5{color:#c8e6c9;}
article.newsletter h5{color:#0068a529;}
article h5{color:#d9ed92;}
footer article, footer{background:#c8e6c9;min-height:270px;}
footer h5{background:#66bb6a;min-height:270px;}


.tagcloud {
	float: left;
	width: 100%;
	margin: 0;
}

.tagcloud li a,
.tag {
	float: left;
	width: auto;
	margin: 0 5px 5px 0;
	padding: 3px 10px;
	border-radius: 4px;
	background: #b0bec533;
	color: #607d8b;
	font-size: 0.9em;
	text-align: center;
	border: none;
}

.tagcloud li a:hover {
opacity:.7;
}

summary {
	font-weight: bold;
}

.cover {
	float: left;
	width: 100%;
	border-radius:20px;
	box-shadow: rgba(109, 128, 146, 0.2) 0px 8px 24px;
}

.post-meta {
	opacity: 0.7;
	font: 300 0.9em/2 "Outfit", "Inter", sans-serif;
	float: left;
	margin: 0;
	width: 100%;
}

#filters {
	float: right;
	max-width: 66.6666%;
}

.description,
.small,
.caption,
.excerpt {
	width: 100%;
	margin: 0;
	background: none;
	padding: 0;
	font-size: 0.9em;
	float: left;
}

.button {
	float: left;
	padding: 7px 10px 7px 0;
	margin: 10px 5px 5px 0;
	font: 400 0.75em/1 "Newsreader", sans-serif;
	z-index: 9999;
	border-radius: 4px;
	background: none;
	cursor: pointer;
	border: none;
	opacity: 0.6;
	text-transform: uppercase;
}

.button:hover {
	opacity: 1;
}

.sq {
	font-size: 0.9em;
	float: left;
	border-radius: 4px;
	border: 1px solid #b0bec5;
	color: #607d8b;
	margin: 2px 2px 0 0;
	padding: 5px;
	min-width: 2px;
	height: 17px;
	text-align: center;
	line-height: 1;
}

.alive {
	background: #00968829;
}

.familia,
.mar,
.trabajo,
.viaje,
.casa {
	background: #b2dfdb;
}

.things iframe {
	float: left;
	width: 48%;
}

p code {
	line-height: 1em;
	padding: 2px;
	margin-left: -2px;
	display: inline-block;
}

pre code {
	display: block;
	white-space: pre-wrap;
}

pre code {
	display: block;
	padding: 12px 18px;
	margin: 0 0 0 0;
	background-color: rgba(0, 0, 0, 0.02);
}

/* LISTS */
ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
	width: 100%;
}

ol {
	list-style-type: decimal;
	padding-left: 20px;
	width: calc(100% - 20px);
}

ul ul,
ol ul,
ol ol,
ul ol {
	margin-bottom: 0;
}

li {
	float: left;
	width: 100%;
}

.tagcloud li {
	width: auto !important;
}

.col-2 li {
	float: left;
	width: 50%;
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}

img.banner {
	margin: 0 calc(50% - 100px);
}

.image {
	position: relative;
	height: 0;
	padding: 0 0 35.504201681%;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.pagination {
	text-align: center;
	margin: 72px 0 144px;
	color: var(--black);
	opacity: 0.5;
	float: left;
}

input {
	font: 400 1em/1.5 "Newsreader", sans-serif;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
	border: none;
	background: none;
	background: #fff;
	border-radius: 10px;
	border: 1px solid var(--grey);
}

@font-face {
  font-family: "Regular";
  src:
 
    url("/PPNeueMontrealMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bold";
  src:
 
    url("/PPNeueMontrealMono-Bold.woff2") format("woff2");
}

@media (max-width: 760px) {
	body {
		padding: 0;
		font-size: 16px;
	}

	header,
	nav,
	main {
		width: 90%;
		padding: 10px 5%;
		float: left;
		position: relative;
		height: auto;
		min-height: 0%;
	}

	nav {
		width: 90%;
		padding: 0;
		float: left;
		position: relative;
		height: auto;
		min-height: 0%;
	}

	.posts,
	h1 {
		width: 100%;
	}

	.home-link {
		display: none;
	}

	article {
		margin: 10px 0;
		width:100%;

	}

	h5 {
    font: 400 .9em / 1 "Regular", sans-serif;
    margin: 0px 0px;
float:left; width:100%;
    padding: 10px;
	background:none;
}

	nav ul li {
		width: 25%;
		text-align: left;
		float: left;
	}

	article {
		float: left;
		width: 100%;
		margin: 20px 0 0 0;
	}

	ul {
		margin: 0;
	}

	main {
		margin: 20px 0;
	}
}
