:root {
    --black: #2b2b2b;
    --grey: #48575e;
    --blue: #0277bd;
    --yellow: #FFD800;
    --font: "Bitter", serif;
    --bold: "Inter Tight", serif;
}

html {
    text-rendering: optimizeLegibility;
    height: 101%;
    margin: 0px !important;
}

body {
    font: 400 15px/1.6 var(--font);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: var(--black);
    word-wrap: break-word;
    margin: 0;
    position: relative;
    min-height: 100vh;
    padding: 0;
    background: #EEE;
}

header {
    float: left;
    padding: 20px 0;
    margin: 0px;
    z-index: 9999;
    text-align: center;
}

nav {
    float: left;
    margin: 0;
    font: 600 2em / 1.6 var(--font);
    z-index: 9999;
    position: fixed;
    top: 25px;
    left: 22%;
}

nav svg {
    margin: 0 5px 0 0;
    position: relative;
    top: 3px;
    padding: 0;
    width: 28px;
    height: 28px;
    stroke-width: 4px;
}

.home nav {
    display: none;
}

nav a {
    text-decoration: none;
    color: var(--black);
    border-radius: 4px;
    background: #FFD800;
    padding: 3px 15px;
}

nav a:hover {
    text-decoration: none;
    color: var(--black);
    border-radius: 4px;
    background: #FFD800;
    opacity: .7;
}

.big{float:left; width:100%;    font: 700 1.5em/1 var(--bold);}

main {
    padding: 0px 34% 50px;
    width: 32%;
    float: left;
    margin: 0;
    z-index: 10;
}





.clear {
    width: 100%;
    clear: both;
    float: none;
    display: block;
    height: 0
}

.right {
    float: right;
}

.left {
    float: left;
}

p {
    float: left;
    width: 100%;
    margin: 7.5px 0;
}

.spark-img{color:var(--blue);
width:100%; float:left;}

h1 {

    margin: 0;
    padding: 0;
    float: left;
    font: 700 2em/1 var(--bold);

    position: fixed;
    top: 20px;
    left: 20px;
}

h1 a {
    text-transform: lowercase;
    color: var(--black);
    text-decoration: none;

}

h1 a::before {
    content: '';
    border-radius: 50%;
    height: .9em;
    width: .9em;
    background: #FFD800;
    float: left;
    top: 3px;
    position: relative;
    margin: 0 15px 0 0;
}


h2 {
    font: 700 2em/1 var(--bold);
    padding: 0;
    text-align: left;
    float: left;
    width: 100%;
    color: var(--black);
    margin: 20px 0;
    text-transform: lowercase;
}

h3 {
    font: 700 1.2em/1.5 var(--bold);
    padding: 0;
    text-align: left;
    float: left;
    width: 100%;
    color: var(--black);
    margin: 10px 0px;

}

h4 {
    font: 400 .9em / 1 var(--bold);
    padding: 5px 0;
    float: left;
    width: 100%;
    margin: 20px 0;
    color: #78909C;
    border-bottom: 1px solid #CFD8DC;
}

h5,
h6 {
    font: 700 1em/1.5 var(--bold);
    margin: 10px 0 0;
    float: left;
    width: 100%;
}

table {
    width: 100%;
    float: left;
    font: 500 13px / 1 var(--font);
}

th {
    float: left;
    width: 100%;
    font-weight: bold;
    padding: 5px 0;
    text-align: left;
}

td,
th {
    width: calc(25%/3);
}

td:first-child,
th:first-child {
    width: 40%
}

td:nth-child(2),
th:nth-child(2),
td:nth-child(3),
th:nth-child(3) {
    width: calc(35%/2);
}

tr {
    display: flex;
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #EEE;
}

.postlist-item .title {
    float: left;
    width: 70%;
    margin: 0;
}

.postlist-item:last-child {
    border-bottom: none;
}

.tag {
    float: right;

    margin: 0;
    padding: 1px 0 0 0;
    list-style-type: none;
    text-align: right;
    text-decoration: none;

    opacity: .75;
}

.postlist-item a:before {
    float: left;
    height: 8px;
    width: 8px;
    margin-right: 10px;
    border-radius: 50%;
    content:'';
    position:relative; 
    top:6px;
    border: 1px solid #607D8B;
}

.postlist-item a.likes::before {
  background: #ffab91;
}
.postlist-item a.work::before{
    background: #b0bec5;
}
.postlist-item a.about::before {
    background: #ffecb3;
}

.postlist-item a.notes::before {
    background: #a1887f;
}

.postlist-item a.projects::before {
    background: #b2dfdb;
}

.tags{float:left; width:100%;}

.tags a {
    float: left;
    padding: 0 5px 0 0;
}

.tags a::after {
    content: ' · ';
}

.tags a:last-child::after {
    content: ' ';
}

blockquote,
.meta,
.postlist-date {
    margin: 0;
    float: left;
    padding: 0 5px 0 0;
    font-size: 1em;
}

.breadcrumbs a {
    color: var(--black);
    font-size: .9em;
}

.postlist-item {
    float: left;
    width:100%;

    margin: 0 0 5px 0;

}

a {
    color: var(--blue);
    text-decoration:none;
}

a:hover {
    opacity: .75;
    border: none;
    box-shadow: none;
    background: none;
}

a[target=_blank]:after {
    content: '┓' / ', external';
    font-family: var(--sansserif);
    font-size: 0.5em;
    line-height: 0;
    text-decoration: none;
    position: absolute;
    margin-top: calc(1rem - 1.7em);
    line-height: 1em;
}

.more {
    float: left;
    padding: 15px 0 0 0;
}

h3 a:hover {
    color: var(--black);
    opacity: .75;
    margin: 10px 0px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(35deg, var(--yellow), var(--blue));
}

.description,
.small,
.caption {
    color: var(--black);
    width: 100%;
    margin: 0 0 10px;
    background: none;
    padding: 0;
    font-size: .8em;
}

.button,
.button:hover {
    float: left;
    margin: 0;
    padding: 10px;
    margin: 10px 0px;
    font: 400 .9em / 1 var(--font);
    z-index: 9999;
    background: #FFF;
    border-radius: 7px;
    box-shadow: 0 0 6.3444108963px 0 rgba(0, 0, 0, .07);

    border: 1px solid var(--grey);
}

a.button:hover,
.posts a:hover {
    opacity: .7;
}

.posts a {
    width: 100%;
    float: left;
    border-bottom: 1px solid var(--grey);
    padding: 5px 0;
}

.attachment-post-thumbnail {
    position: relative;
    float: right;
    max-width: 70px;
    max-height: 100px;
}


hr {
    border: 0;
    float: left;
    background: #ffe08270;
    width: 100%;
    margin: 20px 0;
    content: '';
  
    height: 2px;
}

.sq {
    font-size: .9em;
    float: left;
    border-radius: 4px;
    border: 1px solid #607d8b;
    color: #607d8b;
    margin: 5px 5px 0 0;
    padding: 5px;
    min-width: 17px;
    height: 17px;
    text-align: center;
}

.alive {
    background: #00968829;
}

.familia,
.mar,
.trabajo,
.viaje,
.casa {
    background: #b2dfdb;
}

.things iframe {
    float: left;
    width: 48%;
}

p code {
    line-height: 1em;
    padding: 2px;
    margin-left: -2px;
    display: inline-block;
}

pre code {
    display: block;
    white-space: pre-wrap;
}

pre code {
    display: block;
    padding: 12px 18px;
    margin: 0 0 0 0;
    background-color: rgba(0, 0, 0, .02);
}

/* LISTS */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    width: 100%;
}

ol {
    list-style-type: decimal;
    padding-left: 30px;
}

ul ul,
ol ul,
ol ol,
ul ol {
    margin-bottom: 0;
}

li {
    float: left;
    width:100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

img.hero {
    border-radius: 5px;
    margin: 0 0 15px;
}

.image {
    position: relative;
    height: 0;
    padding: 0 0 35.504201681%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.image img {
    width: 100%
}

.image_container {
    display: block
}

iframe {
    width: 100%;
}

.entry>iframe {
    margin: 24px 0 !important;
}

.has-katex {
    text-align: center;
}

.katex {
    font-size: 1.05em;
}

.date {
    margin-top: 10px;
    text-decoration: none;
}

.date:empty {
    display: none;
}

.pagination {
    text-align: center;
    margin: 72px 0 144px;
    color: var(--black);
    opacity: 0.5;
    float: left;
}

.pagination a {
    margin: 0 1em;
    background: none
}

input {
    font: 400 1em /1.5 var(--font);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    border: none;
    background: none;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid var(--grey);
}


@font-face {
    font-family: "Regular";
    src: url("/regular.ttf");
  }

  @font-face {
    font-family: "Bold";
    src: url("/bold.ttf");
  }

@media (max-width: 1360px) {
    body {
        padding: 0;
        font-size: 16px;
    }

    header {
        float: left;
        width: 100%;
        margin: 0;
        padding: 5px 0;
        left: 0px;
        z-index: 99999;
        position: relative;

    }

    footer {
        padding: 40px 20px;
        width: calc(100% - 40px);
        font-size: 1.5em;
    }

    h1 {
font-size:1px; visibility:hidden;
    }

    h1 a::before {
        left: 30px;
    }

    .bio {
        display: none
    }


    h2 {
        line-height: 1.6em;
    }

    #posts a h3 {
        width: 100%;
        line-height: 2;
    }

    nav {
        float: left;
        margin: 0 0px 20px;
        z-index: 1;
        width: calc(100% - 20px);
        padding: 10px;
        font-size: .9em;
    }

    .welcome {
        display: none !important;
    }


    hr.mobile {
        display: block;
    }

    ul {
        margin: 0;
    }

    main {
        float: left;
        width: calc(100% - 40px);
        padding: 0px 20px 50px;
        margin: 0;
    }
}
