{% include head.html %}
{% include header.html %}

<section>
<article>
<h2>{{page.title}}</h2>

{{content}}
</article>

<article>
<h3>Comentarios</h3>

Si tienes algún comentario sobre esta entrada, escríbeme un email para porder intercambiar opiniones on la capacidad de reflexionar y argumentar nuestras respuestas.
<br/>
<a href="mailto:rodrigoturner.carlos@gmail.com?Subject=Comentario%20sobre%20{{post.url}}">Enviar email a rodrigoturner.carlos@gmail.com</a>

</article> 


</section>
{% include footer.html %}