---
layout: layouts/base.njk
---

<h2> {{title}}</h2>

{{ content | safe }}

<h4>More about me</h4>
<ul>
{%- for Personal in collections.Personal -%}
<li><a href="{{Personal.url}}">{{ Personal.data.title }}</a></li>
{%- endfor -%}
</ul>