---
layout: layouts/base.njk
---

{{ content | safe }}

{% set posts = collections.posts | contains("data.tags", 'meta') %}
<ul>
{%- for offer in offers %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>