<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="shortcut icon" href="/favicon.png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f4d72aa2bf.js" crossorigin="anonymous"></script>
{%- css %}{% include "public/style.css" %}{% endcss %}
<style>{% getBundle "css" %}</style>
</head>
<body class="{{ class }}">
<header>
<h1><a href="/">{{ metadata.title }}<span class="bio">Father · Husband · Data specialist</span></a></h1>
<nav>
<ul>
<li class="nav-item Home {% if page.url == '/' %} active {% endif %}"><a href="/">Home</a></li>
<li class="nav-item About {% if page.url == '/about/' %} active {% endif %}"><a href="/about/"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> About</a></li>
<!--<li class="nav-item Blog {% if page.url == '/blog/' %} active {% endif %}"><a href="/blog/">Blog</a></li>-->
<li class="nav-item Work {% if page.url == '/work/' %} active {% endif %}"><a href="/work/">Work</a></li>
<li class="nav-item Contact {% if page.url == '/contact/' %} active {% endif %}"><a href="/contact/">Contact</a></li>
</ul>
</nav>
</header>
<main>{{ content | safe }}</main>
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>