<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>carlos rodrigo{% if page.url != '/' %} · {{ title }}{% endif %}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="shortcut icon" href="/favicon.png">
<link rel="stylesheet" href="https://unpkg.com/flexmasonry/dist/flexmasonry.css">
<script src="https://unpkg.com/flexmasonry/dist/flexmasonry.js"></script>
{%- css %}{% include "public/style.css" %}{% endcss %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap" rel="stylesheet">

<style>{% getBundle "css" %}</style>
</head>
<body :class="{{class}} {{tags}}{%- if classes and classes.body %} {{ classes.body }}{% endif -%}">
<header>
<a href="/"><h1><span>carlos rodrigo</span></h1></a>

<nav>
<ul>
<li><a href="/" class="home-link {% if page.url == '/' %} hidden{% endif %}"><- Home</a></li>
<li><a href="/about/" class="{% if page.url == '/about/' %} active{% endif %}">About</a></li>
<li><a href="/notes/" class="{% if page.url == '/notes/' %} active{% endif %}">Notes</a></li>
<li><a href="/work/" class="{% if page.url == '/work/' %} active{% endif %}">Work</a></li>
<li><a href="/more/" class="{% if page.url == '/more/' %} active{% endif %}">More</a></li>
</ul>
</nav>
</header>
<main>

{{ content | safe }}

</main>
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>