<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>carlos rodrigo · {{ title }}</title>
<meta name="description" content="{{ description or metadata.description }}">
<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
<link rel="shortcut icon" href="/favicon.png">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
{%- css %}{% include "public/style.css" %}{% endcss %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap" rel="stylesheet">
<style>{% getBundle "css" %}</style>
</head>
<body class="{{class}} {{tags}}{%- if classes and classes.body %} {{ classes.body }}{% endif -%}">
<header>
<h1><a href="/"></a></h1>
</header>
<nav>
<ul>
<li><a href="/" class="{% if page.url == '/' %} active{% endif %}">Blog</a></li>
<li><a href="/info/" class="{% if page.url == '/info/' %} active{% endif %}">Info</a></li>
<li><a href="/work/" class="{% if page.url == '/work/' %} active{% endif %}">Work</a></li>
</ul>
</nav>
<main>
{{ content | safe }}

<footer>

<article>
<h3>Other</h3>
<a href="/info">Information</a>
<a href="/">Blog</a>
<a href="/work">Now</a>

<h3>Other</h3>
<a href="/colophon">Colophon</a>
<a href="/blogroll">Blogroll</a>
<a href="/now">Now</a>
<a href="/uses">Uses</a>
<a href="/ai">AI</a>
<a href="/feed/feed.xml">Feed</a>
</article>
<article>
<h3>PROJECTS</h3>
<a href="/life">Life in squares</a>
<a href="/podcast">Podcast</a>
<h3>Topics</h3>
{% for tag in collections | getKeys | filterTagList %}
{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
<a href="/tag/{{tag}}">{{ tag }}</a>
{% endfor %}

</article>
<article>
<h3>Lists</h3>
<a href="https://maps.app.goo.gl/b2qmfe9Q9S2GELv57">Favourite places</a>
<a href="https://docs.google.com/spreadsheets/d/1c5oEbX0dEm2P6ZYOsotnEDncwUg4Jva1y1vjaHv_ikY/edit?usp=sharing">Watchlist</a>
<a href="https://docs.google.com/spreadsheets/d/1Jtd3gT4gG6PQZb37tgnpJ4kcDENaWyuZjo0YFuAgbxU/edit?usp=sharing">Reading list</a>
<a href="https://docs.google.com/spreadsheets/d/1YgW6IK6FAjX-51MzkW90SjE9GOXSTCfrzGgVIfie01E/edit?usp=sharing">Uses Changelog</a>
</article>

<p>
<script>
currentTime=new Date();
//getHour() function will retrieve the hour from current time
if(currentTime.getHours()<13)
document.write("Good morning! I hope you have a great ");
else if(currentTime.getHours()<17)
document.write("Good afternoon! I hope you're having a great ");
else if(currentTime.getHours()<20)
document.write("Good evening! I hope you're having a great ");
else if(currentTime.getHours()<6)
document.write("Good night! I hope you had a great ");
else 
document.write("Good night! I hope you had a great ");
var weekday = new Array(7)
weekday[0] = " Sunday"
weekday[1] = " Monday"
weekday[2] = " Tuesday"
weekday[3] = " Wednesday"
weekday[4] = " Thursday"
weekday[5] = " Friday"
weekday[6] = " Saturday"
var currentDate = new Date()
weekdayValue = currentDate.getDay()
document.write(
weekday[weekdayValue] + "." + " </br> Madrid, ES · This too shall pass."
)
</script></p>
</footer>
</main>
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>