---
layout: layouts/base.njk
---
<p><span class="postnav"><a href="/">Home</a> › </span></p>

<h2>Blog</h2>

<span class="tags">
{% for tag in collections | getKeys | filterTagList %}
{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</span>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}