---
layout: layouts/base.njk
---
<h2>Blog</h2>

<div id="filters" class="button-group filters-button-group">  
<a class="button" data-filter=".{{tag}}" href="/blog/">All</a>
<button class="button is-checked" data-filter="*">All</button>
{% for tag in collections | getKeys | filterTagList %}
{% set tagUrl %}/tag/{{ tag | slugify }}/{% endset %}
<a class="button" data-filter=".{{tag}}" href="/tags/{{tag}}">{{ tag }}</a>
{% endfor %}
</div>

<div class="posts">
{% set postslist = collections.posts %}
{%- for post in postslist | reverse %}
<a href="{{ post.url }}" class="postlist-item">
<span class="post-info">
<h4>{{ post.data.title }}</h4>
<p class="excerpt">{{post.data.excerpt}}</p>
</span>
<span class="arrow">-></span>
</a>
{%- endfor %}
</div>
