---
layout: layouts/base.njk
---

<h2>What's new</h2>

*reading*:Artemis Fowl 2
Watching: Shrinking + The day of the jackal
Listening: Complexity


<h2>Latests posts</h2>

{{ content | safe }}


<h2>Links</h2>

- books
- films
- likes
- Projects
