---
layout: layouts/base.njk
---

<h2>{{title}}</h2>

{{ content | safe }}

<h4>Related notes</h4>
<ul>
{%- for Now in collections.Now -%}
<li><a href="{{Now.url}}">{{ Now.data.title }}</a></li>
{%- endfor -%}
</ul>