---
layout: layouts/base.njk
---

<h2>{{title}}</h2>

{{ content | safe }}

<h5>Previous Nows</h5>
<ul>
{%- for now in collections.now -%}
<li><a href="{{now.url}}">{{ now.data.title }}</a></li>
{%- endfor -%}
</ul>