---
layout: layouts/base.njk
---

<p><span class="postnav"><a href="/">Home</a> › <a href="/blog/">Blog</a> ›
{%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
{%- endfor %} ›
</span></p><h2> {{title}}</h2>
<p>{{excerpt}}</p>
{{ content | safe }}

<!--
<span class="meta"><a href="mailto:rodrigoturner.carlos@gmail.com">Reply by email</a> · <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate("dd.MM.yyyy") }}</time></span>
-->