---
layout: layouts/base.njk
---

<h2>Slash pages</h2>

<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}">/{{ entry.data.title }}</a>: {{entry.data.excerpt}}</li>
	{%- endfor %}
</ul>


<p>* Inspired by <a href="https://slashpages.net/">slashpages.net</a></p>