---
layout: layouts/base.njk
---
{{ content | safe }}

<h4>Related content</h4>
<ul>
{%- for work in collections.work -%}
  <li><a href="{{work.url}}">{{ work.data.title }}</a></li>
{%- endfor -%}
</ul>